<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>Think.Do.{{#if rev}} - {{rev}}{{/if}}</title>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<script>
		var initId = {{id}} || 0,
			store = {{{data}}};
	</script>
	{{#if built}}
	<script src="js/script.js"></script>
	{{else}}
	<script src="libs/requirejs/require.js" data-main="js/config.js"></script>
	{{/if}}
</body>
</html>